# IDE specific files
.buildpath
.project
.settings
.idea

# Vagrant
.vagrant

# NPM
node_modules

# OSX file
.DS_Store

/_site

# Local configuration
Vagrantfile.local
settings.local.php

# SASS cache
.sass-cache

# Composer
public/vendor
