{% set defaults = {
    'config':{
        'deamonize': True,
        'verbose_level': 0,
        'log_file': '/var/log/memcached.log',
        'memory_cap': 64,
        'port': 11211,
        'user':' memcache',
        'listen_address': '127.0.0.1',
        'max_connections': 1024,
        'lock_paged_memory': False,
        'error_on_mem_full': False,
        'max_core_file_limit': False,
        'options': ' ',
    }  
} %}
